# Manejo de Datos Faltantes

@author: Octavio Gutiérrez de Código Máquina

Some lines was fixes to run starting from OCtavio code

In [90]:
import pandas as pd
import numpy as np
datos = pd.read_csv("../datos/clientes.csv")
print("___________________________DATOS")
print(datos)

___________________________DATOS
    nombre  edad  ingreso
0     Juan  35.0  15800.0
1    Luisa  25.0  17000.0
2      NaN  70.0  20000.0
3   Carmen  49.0  22000.0
4      NaN   NaN      NaN
5    Mario  30.0  15800.0
6    Pedro   NaN  17400.0
7  Gustavo  27.0      NaN
8   Carlos   NaN      NaN

In [14]:
print("___________________________")
print(datos["nombre"])
print("___________________________name null")
print(datos[ datos["nombre"].isnull() ])

___________________________
0       Juan
1      Luisa
2        NaN
3     Carmen
4        NaN
5      Mario
6      Pedro
7    Gustavo
8     Carlos
Name: nombre, dtype: object
___________________________name null
  nombre  edad  ingreso
2    NaN  70.0  20000.0
4    NaN   NaN      NaN

In [91]:
print(datos)
print("___________________________ fill NA / COL")
datos["nombre"] = datos["nombre"].fillna("desconocido")
datos["edad"] = datos["edad"].fillna(0)
#datos["ingreso"] = datos["ingreso"].fillna(0)
print(datos)

    nombre  edad  ingreso
0     Juan  35.0  15800.0
1    Luisa  25.0  17000.0
2      NaN  70.0  20000.0
3   Carmen  49.0  22000.0
4      NaN   NaN      NaN
5    Mario  30.0  15800.0
6    Pedro   NaN  17400.0
7  Gustavo  27.0      NaN
8   Carlos   NaN      NaN
___________________________ fill NA / COL
        nombre  edad  ingreso
0         Juan  35.0  15800.0
1        Luisa  25.0  17000.0
2  desconocido  70.0  20000.0
3       Carmen  49.0  22000.0
4  desconocido   0.0      NaN
5        Mario  30.0  15800.0
6        Pedro   0.0  17400.0
7      Gustavo  27.0      NaN
8       Carlos   0.0      NaN

In [92]:
promedio = datos["ingreso"].mean()
mediana = datos["ingreso"].median()
moda = datos["ingreso"].mode()[0]
print("___________________________ mean, median, mode")
print(promedio, mediana, moda)

filtro = datos[pd.isnull(datos['ingreso'])].fillna(promedio)
datos["ingreso"] = datos["ingreso"].fillna(promedio)
#datos[pd.isnull(datos['ingreso'])].fillna(promedio)

#datos["ingreso"] = (datos["ingreso"] == np.nan ).datos["ingreso"].fillna(moda)
print("___________________________datos")
print(datos)
print("___________________________filtro")
print(filtro)

___________________________ mean, median, mode
18000.0 17200.0 15800.0
___________________________datos
        nombre  edad  ingreso
0         Juan  35.0  15800.0
1        Luisa  25.0  17000.0
2  desconocido  70.0  20000.0
3       Carmen  49.0  22000.0
4  desconocido   0.0  18000.0
5        Mario  30.0  15800.0
6        Pedro   0.0  17400.0
7      Gustavo  27.0  18000.0
8       Carlos   0.0  18000.0
___________________________filtro
        nombre  edad  ingreso
4  desconocido   0.0  18000.0
7      Gustavo  27.0  18000.0
8       Carlos   0.0  18000.0

In [93]:

print("___________________________ ingreso update")
print(datos)
print(datos.dropna(subset=["nombre", "ingreso"], inplace=True))
print(datos)

___________________________ ingreso update
        nombre  edad  ingreso
0         Juan  35.0  15800.0
1        Luisa  25.0  17000.0
2  desconocido  70.0  20000.0
3       Carmen  49.0  22000.0
4  desconocido   0.0  18000.0
5        Mario  30.0  15800.0
6        Pedro   0.0  17400.0
7      Gustavo  27.0  18000.0
8       Carlos   0.0  18000.0
None
        nombre  edad  ingreso
0         Juan  35.0  15800.0
1        Luisa  25.0  17000.0
2  desconocido  70.0  20000.0
3       Carmen  49.0  22000.0
4  desconocido   0.0  18000.0
5        Mario  30.0  15800.0
6        Pedro   0.0  17400.0
7      Gustavo  27.0  18000.0
8       Carlos   0.0  18000.0