# Memory optimization from memory usage: 305.2+ MB to memory usage: 196.5+ MB

@autor Israel Sanchez

In [77]:
import pandas as pd

df_col_tables = pd.read_csv("../datos/sap/SAPD58_SYS_TABLE_COLUMNS.csv", index_col=0, engine='python')

In [54]:
_sysid = "SAPD58"

# Function that update the table types based on max values from columns, Needs tunning copy from stackoverflow with updates

In [55]:
from pandas.api.types import is_numeric_dtype
def Change_dtypes(df):
    has_decimal = 0
    for col in df.columns:
        # check if is numercio
        if (is_numeric_dtype(df[col])):
            #check limits
            col_min = df[col].min()
            col_max = df[col].max()
            
            bytes = 64
            if ((col_min > -2147483648) & (col_max < 2147483648)):
                bytes = 32
            if ((col_min > -32768) & (col_max < 32768)):
                bytes = 16        
            if ((col_min > -128) & (col_max < 128)):
                bytes = 8
            if ( any(df[col]%1!=0) ):
                has_decimal == 1
                if (bytes == 8):
                    bytes = 16
                type = 'float'+str(bytes)
                print(type)
                #update type col
                df[col] = pd.to_numeric(df[col], downcast='float')
            else:
                type = 'int'+str(bytes)
                print(col, ' type ' , df[col].dtype )
                #update type col
                df[col] = pd.to_numeric(df[col], downcast='integer')

## is not optimal the add , it takes standard values and types

In [56]:
from pandas.api.types import is_numeric_dtype
def df_Copy_dtypes(df):
    has_decimal = 0
    df2 = my_df = pd.DataFrame()
    for col in df.columns:
        # check if is numercio
        if (is_numeric_dtype(df[col])):
            #check limits
            col_min = df[col].min()
            col_max = df[col].max()
            
            bytes = 64
            if ((col_min > -2147483648) & (col_max < 2147483648)):
                bytes = 32
            if ((col_min > -32768) & (col_max < 32768)):
                bytes = 16        
            if ((col_min > -128) & (col_max < 128)):
                bytes = 8
            if ( any(df[col]%1!=0) ):
                has_decimal == 1
                if (bytes == 8):
                    bytes = 16
                type = 'float'+str(bytes)
                print(type)
                #update type col
                df2.add(pd.to_numeric(df[col], downcast='float') , axis=1 )
            else:
                type = 'int'+str(bytes)
                print(col, ' type ' , df[col].dtype )
                #update type col
                df2.add(pd.to_numeric(df[col], downcast='integer') , axis=1 )
        else:
            df2.add(df[col], axis=1 )
    df = df2

# La optimizacion solo la hace sobre columans numericas que son las que mas reservan memoria

In [74]:
from pandas.api.types import is_numeric_dtype
def df_Copy2_dtypes(df):
    fcols = df.select_dtypes('float').columns
    icols = df.select_dtypes('integer').columns
    scols = df.select_dtypes('object').columns
    df[fcols] = df[fcols].apply(pd.to_numeric, downcast='float')
    df[icols] = df[icols].apply(pd.to_numeric, downcast='integer')

In [58]:
df_col_tables

,SCHEMA_NAME,TABLE_NAME,TABLE_OID,COLUMN_NAME,POSITION,DATA_TYPE_ID,DATA_TYPE_NAME,OFFSET,LENGTH,SCALE,...,IS_CACHE_KEY,ROW_ORDER_POSITION,IS_HIDDEN,IS_MASKED,MASK_EXPRESSION,CLIENTSIDE_ENCRYPTION_STATUS,CLIENTSIDE_ENCRYPTION_COLUMN_KEY_ID,CLIENTSIDE_ENCRYPTION_MODE,PERSISTENT_MEMORY,NUMA_NODE_INDEXES
0,SYS,AFL_PACKAGES_,131325,FILE,8,-10,NCLOB,120,2147483647,NaN,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1,SYS,P_USER_PASSWORD_,131422,ADMIN_GIVEN_PASSWORD,4,-6,TINYINT,97,3,0.0,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
2,SYS,ABSTRACT_SQL_PLAN_DATA_,26563578,MIN_EXECUTION_TIME_NOT_USING_ABSTRACT_SQL_PLAN,15,-5,BIGINT,133,19,0.0,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
3,SAPD58,CATK,196799,R2MAND,25,-9,NVARCHAR,8,3,NaN,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
4,_SYS_STATISTICS,STATISTICS_ALERT_THRESHOLDS_PROFILES,18972719,SEVERITY,3,-6,TINYINT,8,3,0.0,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119623,SAPD58,/BIC/B0016469000,16223457,RECORD,4,4,INTEGER,8,10,0.0,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1119624,SAPD58,/BIC/B0016469000,16223457,REQUEST,1,-9,NVARCHAR,16,30,NaN,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1119625,SAPD58,/BIC/B0016469000,16223457,TXTLG,9,-9,NVARCHAR,16,60,NaN,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1119626,SAPD58,/BIC/B0016469000,16223457,TXTMD,8,-9,NVARCHAR,16,40,NaN,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1119627,SAPD58,/BIC/B0016469000,16223457,TXTSH,7,-9,NVARCHAR,16,20,NaN,...,False,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df_col_tables = df_col_tables[df_col_tables["SCHEMA_NAME"] == _sysid]

In [80]:
df_col_tables.info()
df_col_tables['SCHEMA_NAME'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1111022 entries, 3 to 1119627
Data columns (total 42 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   SCHEMA_NAME                          1111022 non-null  object
 1   TABLE_NAME                           1111022 non-null  object
 2   TABLE_OID                            1111022 non-null  int64
 3   COLUMN_NAME                          1111022 non-null  object
 4   POSITION                             1111022 non-null  int64
 5   DATA_TYPE_ID                         1111022 non-null  int64
 6   DATA_TYPE_NAME                       1111022 non-null  object
 7   OFFSET                               1111022 non-null  int64
 8   LENGTH                               1111022 non-null  int64
 9   SCALE                                307976 non-null   float64
 10  IS_NULLABLE                          1111022 non-null  bool
 11  DEFAULT_VALUE                        478101 non-null   object
 12  COLLATION                            0 non-null        float64
 13  COMMENTS                             0 non-null        object
 14  MAX_VALUE                            0 non-null        float64
 15  MIN_VALUE                            0 non-null        float64
 16  CS_DATA_TYPE_ID                      1111022 non-null  int64
 17  CS_DATA_TYPE_NAME                    1111022 non-null  object
 18  DDIC_DATA_TYPE_ID                    1111022 non-null  int64
 19  DDIC_DATA_TYPE_NAME                  1111022 non-null  object
 20  COMPRESSION_TYPE                     1111022 non-null  object
 21  INDEX_TYPE                           1111022 non-null  object
 22  COLUMN_ID                            1111022 non-null  int64
 23  PRELOAD                              1111022 non-null  bool
 24  GENERATED_ALWAYS_AS                  0 non-null        float64
 25  HAS_SCHEMA_FLEXIBILITY               1111022 non-null  bool
 26  FUZZY_SEARCH_INDEX                   1111022 non-null  bool
 27  FUZZY_SEARCH_MODE                    0 non-null        float64
 28  MEMORY_THRESHOLD                     11836 non-null    float64
 29  LOAD_UNIT                            1111022 non-null  object
 30  GENERATION_TYPE                      0 non-null        float64
 31  IS_CACHABLE                          1111022 non-null  bool
 32  IS_CACHE_KEY                         1111022 non-null  bool
 33  ROW_ORDER_POSITION                   0 non-null        float64
 34  IS_HIDDEN                            1111022 non-null  bool
 35  IS_MASKED                            1111022 non-null  bool
 36  MASK_EXPRESSION                      0 non-null        float64
 37  CLIENTSIDE_ENCRYPTION_STATUS         0 non-null        float64
 38  CLIENTSIDE_ENCRYPTION_COLUMN_KEY_ID  0 non-null        float64
 39  CLIENTSIDE_ENCRYPTION_MODE           0 non-null        float64
 40  PERSISTENT_MEMORY                    0 non-null        float64
 41  NUMA_NODE_INDEXES                    0 non-null        float64
dtypes: bool(8), float64(15), int64(8), object(11)
memory usage: 305.2+ MB
<class 'pandas.core.series.Series'>
Index: 1111022 entries, 3 to 1119627
Series name: SCHEMA_NAME
Non-Null Count    Dtype
--------------    -----
1111022 non-null  object
dtypes: object(1)
memory usage: 17.0+ MB

In [81]:
df_Copy2_dtypes(df_col_tables)
#Change_dtypes(df_col_tables)
#df_Copy_dtypes(df_col_tables)
#df_Copy2_dtypes(df_col_tables)

In [82]:
df_col_tables.info()
df_col_tables['SCHEMA_NAME'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 1111022 entries, 3 to 1119627
Data columns (total 42 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   SCHEMA_NAME                          1111022 non-null  object
 1   TABLE_NAME                           1111022 non-null  object
 2   TABLE_OID                            1111022 non-null  int32
 3   COLUMN_NAME                          1111022 non-null  object
 4   POSITION                             1111022 non-null  int16
 5   DATA_TYPE_ID                         1111022 non-null  int8
 6   DATA_TYPE_NAME                       1111022 non-null  object
 7   OFFSET                               1111022 non-null  int16
 8   LENGTH                               1111022 non-null  int32
 9   SCALE                                307976 non-null   float32
 10  IS_NULLABLE                          1111022 non-null  bool
 11  DEFAULT_VALUE                        478101 non-null   object
 12  COLLATION                            0 non-null        float32
 13  COMMENTS                             0 non-null        object
 14  MAX_VALUE                            0 non-null        float32
 15  MIN_VALUE                            0 non-null        float32
 16  CS_DATA_TYPE_ID                      1111022 non-null  int8
 17  CS_DATA_TYPE_NAME                    1111022 non-null  object
 18  DDIC_DATA_TYPE_ID                    1111022 non-null  int8
 19  DDIC_DATA_TYPE_NAME                  1111022 non-null  object
 20  COMPRESSION_TYPE                     1111022 non-null  object
 21  INDEX_TYPE                           1111022 non-null  object
 22  COLUMN_ID                            1111022 non-null  int32
 23  PRELOAD                              1111022 non-null  bool
 24  GENERATED_ALWAYS_AS                  0 non-null        float32
 25  HAS_SCHEMA_FLEXIBILITY               1111022 non-null  bool
 26  FUZZY_SEARCH_INDEX                   1111022 non-null  bool
 27  FUZZY_SEARCH_MODE                    0 non-null        float32
 28  MEMORY_THRESHOLD                     11836 non-null    float32
 29  LOAD_UNIT                            1111022 non-null  object
 30  GENERATION_TYPE                      0 non-null        float32
 31  IS_CACHABLE                          1111022 non-null  bool
 32  IS_CACHE_KEY                         1111022 non-null  bool
 33  ROW_ORDER_POSITION                   0 non-null        float32
 34  IS_HIDDEN                            1111022 non-null  bool
 35  IS_MASKED                            1111022 non-null  bool
 36  MASK_EXPRESSION                      0 non-null        float32
 37  CLIENTSIDE_ENCRYPTION_STATUS         0 non-null        float32
 38  CLIENTSIDE_ENCRYPTION_COLUMN_KEY_ID  0 non-null        float32
 39  CLIENTSIDE_ENCRYPTION_MODE           0 non-null        float32
 40  PERSISTENT_MEMORY                    0 non-null        float32
 41  NUMA_NODE_INDEXES                    0 non-null        float32
dtypes: bool(8), float32(15), int16(2), int32(3), int8(3), object(11)
memory usage: 193.9+ MB
<class 'pandas.core.series.Series'>
Index: 1111022 entries, 3 to 1119627
Series name: SCHEMA_NAME
Non-Null Count    Dtype
--------------    -----
1111022 non-null  object
dtypes: object(1)
memory usage: 17.0+ MB

### check the size by column

In [ ]:
 for col in df_col_tables.columns:
    print(col, ' ',   df_col_tables[col].dtype,  df_col_tables[col].info())

In [87]:
print(df_col_tables.describe())

          TABLE_OID      POSITION  DATA_TYPE_ID        OFFSET        LENGTH  \
count  1.111022e+06  1.111022e+06  1.111022e+06  1.111022e+06  1.111022e+06
mean   6.359954e+06  2.326545e+01 -5.309428e+00  9.680798e+01  2.288157e+07
std    9.786099e+06  3.629105e+01  5.783749e+00  1.923856e+02  2.204864e+08
min    1.581540e+05  1.000000e+00 -1.000000e+01  1.000000e+00  1.000000e+00
25%    6.596850e+05  3.000000e+00 -9.000000e+00  8.000000e+00  4.000000e+00
50%    1.145761e+06  9.000000e+00 -9.000000e+00  2.400000e+01  1.000000e+01
75%    1.387536e+07  2.500000e+01  3.000000e+00  8.800000e+01  1.700000e+01
max    3.973768e+07  5.010000e+02  9.300000e+01  3.392000e+03  2.147484e+09

               SCALE  COLLATION  MAX_VALUE  MIN_VALUE  CS_DATA_TYPE_ID  ...  \
count  307976.000000        0.0        0.0        0.0     1.111022e+06  ...
mean        1.188937        NaN        NaN        NaN     7.952846e+01  ...
std         1.551733        NaN        NaN        NaN     6.682491e+00  ...
min         0.000000        NaN        NaN        NaN     6.400000e+01  ...
25%         0.000000        NaN        NaN        NaN     7.300000e+01  ...
50%         0.000000        NaN        NaN        NaN     8.300000e+01  ...
75%         2.000000        NaN        NaN        NaN     8.300000e+01  ...
max        14.000000        NaN        NaN        NaN     1.000000e+02  ...

       FUZZY_SEARCH_MODE  MEMORY_THRESHOLD  GENERATION_TYPE  \
count                0.0           11836.0              0.0
mean                 NaN            1000.0              NaN
std                  NaN               0.0              NaN
min                  NaN            1000.0              NaN
25%                  NaN            1000.0              NaN
50%                  NaN            1000.0              NaN
75%                  NaN            1000.0              NaN
max                  NaN            1000.0              NaN

       ROW_ORDER_POSITION  MASK_EXPRESSION  CLIENTSIDE_ENCRYPTION_STATUS  \
count                 0.0              0.0                           0.0
mean                  NaN              NaN                           NaN
std                   NaN              NaN                           NaN
min                   NaN              NaN                           NaN
25%                   NaN              NaN                           NaN
50%                   NaN              NaN                           NaN
75%                   NaN              NaN                           NaN
max                   NaN              NaN                           NaN

       CLIENTSIDE_ENCRYPTION_COLUMN_KEY_ID  CLIENTSIDE_ENCRYPTION_MODE  \
count                                  0.0                         0.0
mean                                   NaN                         NaN
std                                    NaN                         NaN
min                                    NaN                         NaN
25%                                    NaN                         NaN
50%                                    NaN                         NaN
75%                                    NaN                         NaN
max                                    NaN                         NaN

       PERSISTENT_MEMORY  NUMA_NODE_INDEXES
count                0.0                0.0
mean                 NaN                NaN
std                  NaN                NaN
min                  NaN                NaN
25%                  NaN                NaN
50%                  NaN                NaN
75%                  NaN                NaN
max                  NaN                NaN

[8 rows x 23 columns]

In [9]:
df_col_tables.to_csv("../datos/sap/SAPD58_SYS_TABLE_COLUMNS_optimized.csv", sep =',')

In [86]:
df_col_tables.count()

SCHEMA_NAME                            1111022
TABLE_NAME                             1111022
TABLE_OID                              1111022
COLUMN_NAME                            1111022
POSITION                               1111022
DATA_TYPE_ID                           1111022
DATA_TYPE_NAME                         1111022
OFFSET                                 1111022
LENGTH                                 1111022
SCALE                                   307976
IS_NULLABLE                            1111022
DEFAULT_VALUE                           478101
COLLATION                                    0
COMMENTS                                     0
MAX_VALUE                                    0
MIN_VALUE                                    0
CS_DATA_TYPE_ID                        1111022
CS_DATA_TYPE_NAME                      1111022
DDIC_DATA_TYPE_ID                      1111022
DDIC_DATA_TYPE_NAME                    1111022
COMPRESSION_TYPE                       1111022
INDEX_TYPE                             1111022
COLUMN_ID                              1111022
PRELOAD                                1111022
GENERATED_ALWAYS_AS                          0
HAS_SCHEMA_FLEXIBILITY                 1111022
FUZZY_SEARCH_INDEX                     1111022
FUZZY_SEARCH_MODE                            0
MEMORY_THRESHOLD                         11836
LOAD_UNIT                              1111022
GENERATION_TYPE                              0
IS_CACHABLE                            1111022
IS_CACHE_KEY                           1111022
ROW_ORDER_POSITION                           0
IS_HIDDEN                              1111022
IS_MASKED                              1111022
MASK_EXPRESSION                              0
CLIENTSIDE_ENCRYPTION_STATUS                 0
CLIENTSIDE_ENCRYPTION_COLUMN_KEY_ID          0
CLIENTSIDE_ENCRYPTION_MODE                   0
PERSISTENT_MEMORY                            0
NUMA_NODE_INDEXES                            0
dtype: int64