# playing with big files that comes from SAP

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

M_tables = pd.read_csv("../datos/sap/M_TABLES.csv", index_col=0)

In [2]:
_sysid = "SAPX58"

In [3]:
M_tables

,SCHEMA_NAME,TABLE_NAME,RECORD_COUNT,TABLE_SIZE,IS_COLUMN_TABLE,TABLE_TYPE,IS_PARTITIONED,IS_REPLICATED,HAS_RECORD_COMMIT_TIMESTAMP
0,SYS,_SYS_SS_TBL_15805805_RET,0,0,False,ROW,False,False,False
1,SYS,_SYS_SS_TBL_15805819_RET,0,0,False,ROW,False,False,False
2,_SYS_BIC,sap.hana.modules.FIN/CV_LFIAO0001_IEPS_MD_VEND...,0,0,False,ROW,False,False,False
3,SYS,_SYS_SS2_ITV_ALL_PARAMETERS_15805857_TBL,0,0,False,ROW,False,False,False
4,SYS,_SYS_SS2_ITV_TABLE_PARAMETERS_15805857_TBL,0,0,False,ROW,False,False,False
...,...,...,...,...,...,...,...,...,...
100009,SAPX58,WDR_TEST_SOALPHA,0,1328,True,COLUMN,False,False,False
100010,SAPX58,WDY_CHIP_PORTT,1045,143407,True,COLUMN,False,False,False
100011,SAPX58,WDY_UI_ENUM_VALT,358,117453,True,COLUMN,False,False,False
100012,SAPX58,WEB_COOKIE,0,1328,True,COLUMN,False,False,False
100013,SAPX58,WP3ROLEDEFLONG,0,1328,True,COLUMN,False,False,False

In [4]:
M_tables["TABLE_SIZE"] = M_tables["TABLE_SIZE"] /1024 /1024

In [5]:
M_tables = M_tables[M_tables["SCHEMA_NAME"] == _sysid]

In [6]:
_COLUMN_TABLE = M_tables[(M_tables["IS_COLUMN_TABLE"] == True) & (M_tables["SCHEMA_NAME"] == _sysid)]
_ROW_TABLE = M_tables[(M_tables["IS_COLUMN_TABLE"] == False) & (M_tables["SCHEMA_NAME"] == _sysid)]

In [7]:
_COLUMN_TABLE.count()

SCHEMA_NAME                    97866
TABLE_NAME                     97866
RECORD_COUNT                   97866
TABLE_SIZE                     97866
IS_COLUMN_TABLE                97866
TABLE_TYPE                     97866
IS_PARTITIONED                 97866
IS_REPLICATED                  97866
HAS_RECORD_COMMIT_TIMESTAMP    97866
dtype: int64

In [8]:
_ROW_TABLE.count()

SCHEMA_NAME                    837
TABLE_NAME                     837
RECORD_COUNT                   837
TABLE_SIZE                     837
IS_COLUMN_TABLE                837
TABLE_TYPE                     837
IS_PARTITIONED                 837
IS_REPLICATED                  837
HAS_RECORD_COMMIT_TIMESTAMP    837
dtype: int64