# Sample to play with data from SQL SErver AdventureWorksDW2022 DB

@autor Israel Sanchez

In [2]:
import pyodbc 
import pandas as pd

In [3]:
pyodbc.drivers()

['ODBC Driver 18 for SQL Server']

# Working with SQLAlchemy

In [7]:
import pandas as pd
import numpy as np
import time
from sqlalchemy import create_engine, event
from urllib.parse import quote_plus

# SQL String connection to local Docker SQL 2022 DB

In [8]:

# for pyodbc
#engine = create_engine('mssql+pyodbc://TestUser:TestUserPAss@DESKTOP-QLSOTTG\\SQLEXPRESS:1433/TestDB?driver=ODBC+Driver+17+for+SQL+Server', fast_executemany=True)
engine = create_engine("mssql+pyodbc://sa:M1dNigt3ss@192.168.100.45:1433/AdventureWorksDW2022?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=no&encrypt=no", fast_executemany=True)

## DEF Optimization de memoria

In [20]:
from pandas.api.types import is_numeric_dtype
def df_optimize_dtypes(df):
    fcols = df.select_dtypes('float').columns
    icols = df.select_dtypes('integer').columns
    scols = df.select_dtypes('object').columns
    df[fcols] = df[fcols].apply(pd.to_numeric, downcast='float')
    df[icols] = df[icols].apply(pd.to_numeric, downcast='integer')

# String codes

In [29]:
s_DimProduct = "SELECT * FROM [AdventureWorksDW2022].[dbo].[DimProduct]"
s_FactFinance = "SELECT * FROM [AdventureWorksDW2022].[dbo].[FactFinance]"
s_DimProductCategory = "Select * FROM [AdventureWorksDW2022].[dbo].[DimProductCategory]"
s_DimAccount = "Select * FROM [AdventureWorksDW2022].[dbo].[DimAccount] " 
print('str assigned')

str assigned

In [31]:
df_DimProduct = pd.read_sql(s_DimProduct, engine) 
df_FactFinance = pd.read_sql(s_FactFinance, engine) 
df_DimProductCategory = pd.read_sql(s_DimProductCategory, engine) 
df_DimAccount = pd.read_sql(s_DimAccount, engine)
print('dataframes loaded')

dataframes loaded

In [28]:
df_optimize_dtypes(df_DimProduct)
df_DimProduct.info()

df_optimize_dtypes(df_FactFinance)
df_FactFinance.info()

df_optimize_dtypes(df_DimProductCategory)
df_DimProductCategory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int16
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float32
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           395 non-null    float32
 9   FinishedGoodsFlag      606 non-null    bool
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int16
 12  ReorderPoint           606 non-null    int16
 13  ListPrice              395 non-null    float32
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float32
 17  DaysToManufacture      606 non-null    int8
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float32
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: bool(1), datetime64[ns](2), float32(5), int16(3), int8(1), object(24)
memory usage: 139.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39409 entries, 0 to 39408
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FinanceKey          39409 non-null  int32
 1   DateKey             39409 non-null  int32
 2   OrganizationKey     39409 non-null  int8
 3   DepartmentGroupKey  39409 non-null  int8
 4   ScenarioKey         39409 non-null  int8
 5   AccountKey          39409 non-null  int8
 6   Amount              39409 non-null  float64
 7   Date                39409 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int32(2), int8(4)
memory usage: 1.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ProductCategoryKey           4 non-null      int8
 1   ProductCategoryAlternateKey  4 non-null      int8
 2   EnglishProductCategoryName   4 non-null      object
 3   SpanishProductCategoryName   4 non-null      object
 4   FrenchProductCategoryName    4 non-null      object
dtypes: int8(2), object(3)
memory usage: 236.0+ bytes