# Sample to play with data from SQL SErver AdventureWorksDW2022 DB
@autor Israel Sanchez

In [1]:
import pyodbc 
import pandas as pd

# load common functions

In [2]:
%run ./0_FunctionIncludes.ipynb

# check ODBC Drivers

In [3]:
pyodbc.drivers()

['ODBC Driver 18 for SQL Server']

# Working with SQLAlchemy

In [4]:
import pandas as pd
import numpy as np
import time
from sqlalchemy import create_engine, event
from urllib.parse import quote_plus

# SQL String connection to local Docker SQL 2022 DB

In [5]:

# for pyodbc
#engine = create_engine('mssql+pyodbc://TestUser:TestUserPAss@DESKTOP-QLSOTTG\\SQLEXPRESS:1433/TestDB?driver=ODBC+Driver+17+for+SQL+Server', fast_executemany=True)
engine = create_engine("mssql+pyodbc://sa:M1dNigt3ss@192.168.100.45:1433/AdventureWorksDW2022?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=no&encrypt=no", fast_executemany=False)

In [6]:
s_DataBase = "AdventureWorksDW2022"
s_schema = "dbo"

# SQL Server tables
SELECT TABLE_NAME 
FROM [AdventureWorksDW2022].INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE = 'BASE TABLE'

## DEF Optimization de memoria

from pandas.api.types import is_numeric_dtype
def df_optimize_dtypes(df):
    fcols = df.select_dtypes('float').columns
    icols = df.select_dtypes('integer').columns
    scols = df.select_dtypes('object').columns
    df[fcols] = df[fcols].apply(pd.to_numeric, downcast='float')
    df[icols] = df[icols].apply(pd.to_numeric, downcast='integer')

# String codes

In [7]:
s_DimProduct = "SELECT * FROM [" + s_DataBase + "].[" + s_schema +"].[DimProduct]"
s_DimProductCategory = "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimProductCategory]"
s_DimAccount = "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimAccount] " 
s_DimCurrency =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimCurrency] "
s_DimCustomer =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimCustomer] "
s_DimDate =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimDate] "
s_DimDepartmentGroup =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimDepartmentGroup] "
s_DimEmployee  =  "Select top 1000000 * FROM [" + s_DataBase + "].[" + s_schema +"].[DimEmployee] "
s_DimGeography  =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimGeography] "
s_DimOrganization =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimOrganization] "
s_DimProduct =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimProduct] "
s_DimProductCategory =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimProductCategory] "
s_DimProductSubcategory =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimProductSubcategory] "
s_DimPromotion =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimPromotion] "
s_DimReseller =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimReseller] "
s_DimSalesReason =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimSalesReason] "
s_DimSalesTerritory =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimSalesTerritory] "
s_DimScenario =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[DimScenario] "
print('MD str assigned')

MD str assigned

In [8]:
s_FactAdditionalInternationalProductDescription =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactAdditionalInternationalProductDescription] "
s_FactCallCenter =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactCallCenter] "
s_FactCurrencyRate =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactCurrencyRate] "
s_FactFinance = "SELECT * FROM [" + s_DataBase + "].[" + s_schema +"].[FactFinance]"
s_FactInternetSales =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactInternetSales] "
s_FactInternetSalesReason =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactInternetSalesReason] "
s_FactProductInventory =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactProductInventory] "
s_FactResellerSales =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactResellerSales] "
s_FactSalesQuota =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactSalesQuota] "
s_FactSurveyResponse =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[FactSurveyResponse] "
s_NewFactCurrencyRate =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[NewFactCurrencyRate] "
s_ProspectiveBuyer =  "Select * FROM [" + s_DataBase + "].[" + s_schema +"].[ProspectiveBuyer] "

In [9]:
print('TD str assigned')

TD str assigned

## DF Transactional

In [10]:
df_FactAdditionalInternationalProductDescription  = pd.read_sql(s_FactAdditionalInternationalProductDescription, engine)
df_FactCallCenter  = pd.read_sql(s_FactCallCenter, engine)
df_FactCurrencyRate  = pd.read_sql(s_FactCurrencyRate, engine)
df_FactFinance  = pd.read_sql(s_FactFinance, engine)
df_FactInternetSales  = pd.read_sql(s_FactInternetSales, engine)
df_FactInternetSalesReason  = pd.read_sql(s_FactInternetSalesReason, engine)
df_FactProductInventory  = pd.read_sql(s_FactProductInventory, engine)
df_FactResellerSales  = pd.read_sql(s_FactResellerSales, engine)
df_FactSalesQuota  = pd.read_sql(s_FactSalesQuota, engine)
df_FactSurveyResponse  = pd.read_sql(s_FactSurveyResponse, engine)
df_NewFactCurrencyRate  = pd.read_sql(s_NewFactCurrencyRate, engine)
df_ProspectiveBuyer  = pd.read_sql(s_ProspectiveBuyer, engine)
print('MD Dataframes loaded')

MD Dataframes loaded

## DF Master cada

In [11]:
df_DimProduct = pd.read_sql(s_DimProduct, engine) 
df_DimProductCategory = pd.read_sql(s_DimProductCategory, engine) 
df_DimAccount = pd.read_sql(s_DimAccount, engine)
df_DimCurrency = pd.read_sql(s_DimCurrency, engine)
df_DimCustomer  = pd.read_sql(s_DimCustomer, engine)
df_DimDate  = pd.read_sql(s_DimDate, engine)
df_DimDepartmentGroup  = pd.read_sql(s_DimDepartmentGroup, engine)
df_DimEmployee  = pd.read_sql(s_DimEmployee, engine)
df_DimGeography  = pd.read_sql(s_DimGeography, engine)
df_DimOrganization  = pd.read_sql(s_DimOrganization, engine)
df_DimProduct  = pd.read_sql(s_DimProduct, engine)
df_DimProductCategory  = pd.read_sql(s_DimProductCategory, engine)
df_DimProductSubcategory  = pd.read_sql(s_DimProductSubcategory, engine)
df_DimPromotion  = pd.read_sql(s_DimPromotion, engine)
df_DimReseller  = pd.read_sql(s_DimReseller, engine)
df_DimSalesReason  = pd.read_sql(s_DimSalesReason, engine)
df_DimSalesTerritory  = pd.read_sql(s_DimSalesTerritory, engine)
df_DimScenario  = pd.read_sql(s_DimScenario, engine)
print('MD Dataframes loaded')

MD Dataframes loaded

## Optimize size

## Master data DFs

In [12]:

df_optimize_dtypes( df_DimAccount )
df_optimize_dtypes( df_DimProductCategory )
df_optimize_dtypes( df_DimCurrency )
df_optimize_dtypes( df_DimCustomer )
df_optimize_dtypes( df_DimDate )
df_optimize_dtypes( df_DimDepartmentGroup )
df_optimize_dtypes( df_DimEmployee )
df_optimize_dtypes( df_DimGeography )
df_optimize_dtypes( df_DimOrganization )
df_optimize_dtypes( df_DimProduct )
df_optimize_dtypes( df_DimProductSubcategory )
df_optimize_dtypes( df_DimPromotion )
df_optimize_dtypes( df_DimReseller )
df_optimize_dtypes( df_DimSalesReason )
df_optimize_dtypes( df_DimSalesTerritory )
df_optimize_dtypes( df_DimScenario )
#df_DimProduct.memory_usage(deep=True)

## Transactiona DFs

In [13]:
df_optimize_dtypes( df_FactAdditionalInternationalProductDescription )
df_optimize_dtypes( df_FactCallCenter )
df_optimize_dtypes( df_FactCurrencyRate )
df_optimize_dtypes( df_FactFinance )
df_optimize_dtypes( df_FactInternetSales )
df_optimize_dtypes( df_FactInternetSalesReason )
df_optimize_dtypes( df_FactProductInventory )
df_optimize_dtypes( df_FactResellerSales )
df_optimize_dtypes( df_FactSalesQuota )
df_optimize_dtypes( df_FactSurveyResponse )
df_optimize_dtypes( df_NewFactCurrencyRate )
df_optimize_dtypes( df_ProspectiveBuyer )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProspectiveBuyerKey   2059 non-null   int64
 1   ProspectAlternateKey  2059 non-null   object
 2   FirstName             2059 non-null   object
 3   MiddleName            1207 non-null   object
 4   LastName              2059 non-null   object
 5   BirthDate             2059 non-null   datetime64[ns]
 6   MaritalStatus         2059 non-null   object
 7   Gender                2059 non-null   object
 8   EmailAddress          2059 non-null   object
 9   YearlyIncome          2059 non-null   float64
 10  TotalChildren         2059 non-null   int64
 11  NumberChildrenAtHome  2059 non-null   int64
 12  Education             2059 non-null   object
 13  Occupation            2059 non-null   object
 14  HouseOwnerFlag        2059 non-null   object
 15  NumberCarsOwned       2059 non-null   int64
 16  AddressLine1          2059 non-null   object
 17  AddressLine2          66 non-null     object
 18  City                  2059 non-null   object
 19  StateProvinceCode     2059 non-null   object
 20  PostalCode            2059 non-null   object
 21  Phone                 2059 non-null   object
 22  Salutation            2059 non-null   object
 23  Unknown               2059 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(17)
memory usage: 386.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProspectiveBuyerKey   2059 non-null   int16
 1   ProspectAlternateKey  2059 non-null   object
 2   FirstName             2059 non-null   object
 3   MiddleName            1207 non-null   object
 4   LastName              2059 non-null   object
 5   BirthDate             2059 non-null   datetime64[ns]
 6   MaritalStatus         2059 non-null   object
 7   Gender                2059 non-null   object
 8   EmailAddress          2059 non-null   object
 9   YearlyIncome          2059 non-null   float32
 10  TotalChildren         2059 non-null   int8
 11  NumberChildrenAtHome  2059 non-null   int8
 12  Education             2059 non-null   object
 13  Occupation            2059 non-null   object
 14  HouseOwnerFlag        2059 non-null   object
 15  NumberCarsOwned       2059 non-null   int8
 16  AddressLine1          2059 non-null   object
 17  AddressLine2          66 non-null     object
 18  City                  2059 non-null   object
 19  StateProvinceCode     2059 non-null   object
 20  PostalCode            2059 non-null   object
 21  Phone                 2059 non-null   object
 22  Salutation            2059 non-null   object
 23  Unknown               2059 non-null   int8
dtypes: datetime64[ns](1), float32(1), int16(1), int8(4), object(17)
memory usage: 309.8+ KB

In [14]:
# Transfer to Parquet

# Create dataframes with Merge / joins

- *dfc*  - datframe complete
- *dfr*  - dataframe reduced
- *dft*  - dataframe temporally just for internal reprocess

### Product Categories & SubCategories

In [15]:
dfc_SubCategories = pd.merge(df_DimProductSubcategory, 
                             df_DimProductCategory,  
                             how='left', 
                             left_on='ProductCategoryKey', 
                             right_on = 'ProductCategoryKey')
df_optimize_dtypes(dfc_SubCategories)

## Product Categories & SubCategories with reduce english descriptions only

In [16]:
dfr_SubCategories = pd.merge(df_DimProductSubcategory[['ProductSubcategoryKey','EnglishProductSubcategoryName','ProductCategoryKey']], 
                             df_DimProductCategory[['ProductCategoryKey','EnglishProductCategoryName']],  
                             how='left', 
                             left_on='ProductCategoryKey', 
                             right_on = 'ProductCategoryKey')
dfr_SubCategories = dfr_SubCategories.set_index('ProductSubcategoryKey')
df_optimize_dtypes(dfr_SubCategories)

# Parent Employee & Manager

*  obtain the basic info from the manager
*  Merge the employee info with the basic manager info
*  create names for manager and employee with a natural description

In [17]:
dft_DimEmployee = df_DimEmployee.copy()
for col in dft_DimEmployee.columns:
    dft_DimEmployee.rename(columns = {col:'m_' + col}, inplace = True)
dft_DimEmployee = dft_DimEmployee[['m_EmployeeKey','m_FirstName','m_LastName','m_MiddleName','m_NameStyle','m_EmailAddress','m_Gender','m_Phone','m_Status']]
dft_DimEmployee = dft_DimEmployee.set_index('m_EmployeeKey')

dfr_DimEmployee = pd.merge(df_DimEmployee[['EmployeeKey','ParentEmployeeKey','SalesTerritoryKey','FirstName','LastName','MiddleName','NameStyle','LoginID','EmailAddress','Gender','Phone','Status']] , 
                             dft_DimEmployee,  
                             how='inner', 
                             left_on='ParentEmployeeKey', 
                             right_on = 'm_EmployeeKey')

dft_DimEmployee = ''
dfr_DimEmployee["FirstName"] = dfr_DimEmployee["FirstName"].fillna("")
dfr_DimEmployee["LastName"] = dfr_DimEmployee["LastName"].fillna("")
dfr_DimEmployee["MiddleName"] = dfr_DimEmployee["MiddleName"].fillna("")
dfr_DimEmployee["m_LastName"] = dfr_DimEmployee["m_LastName"].fillna("")
dfr_DimEmployee["m_FirstName"] = dfr_DimEmployee["m_FirstName"].fillna("")
dfr_DimEmployee["m_MiddleName"] = dfr_DimEmployee["m_MiddleName"].fillna("")
dfr_DimEmployee = dfr_DimEmployee.set_index('EmployeeKey')
dfr_DimEmployee["Employee_Description"] = (dfr_DimEmployee["FirstName"]) + ' ' + (dfr_DimEmployee["LastName"]) + ', ' + (dfr_DimEmployee["MiddleName"])
dfr_DimEmployee["Manager_Description"] = (dfr_DimEmployee["m_FirstName"]) + ' ' + (dfr_DimEmployee["m_LastName"]) + ', ' + (dfr_DimEmployee["m_MiddleName"])

dfr_DimEmployee = pd.merge(dfr_DimEmployee,
                           df_DimSalesTerritory[['SalesTerritoryKey','SalesTerritoryRegion','SalesTerritoryCountry','SalesTerritoryGroup']],  
                           on = "SalesTerritoryKey", how = "left")

df_optimize_dtypes(dfr_DimEmployee)

In [18]:
#check merges with sales territory
#dfr_DimEmployee[ (dfr_DimEmployee["SalesTerritoryKey"]<=11) ].tail(3)
dfr_DimEmployee

,ParentEmployeeKey,SalesTerritoryKey,FirstName,LastName,MiddleName,NameStyle,LoginID,EmailAddress,Gender,Phone,...,m_NameStyle,m_EmailAddress,m_Gender,m_Phone,m_Status,Employee_Description,Manager_Description,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup
0,18.0,11,Guy,Gilbert,R,False,adventure-works\guy1,guy1@adventure-works.com,M,320-555-0195,...,False,jo0@adventure-works.com,F,632-555-0129,Current,"Guy Gilbert, R","Jo Brown, A",NA,NA,NA
1,18.0,11,Annik,Stahl,O,False,adventure-works\annik0,annik0@adventure-works.com,M,499-555-0125,...,False,jo0@adventure-works.com,F,632-555-0129,Current,"Annik Stahl, O","Jo Brown, A",NA,NA,NA
2,18.0,11,Rebecca,Laszlo,A,False,adventure-works\rebecca0,rebecca0@adventure-works.com,F,314-555-0113,...,False,jo0@adventure-works.com,F,632-555-0129,Current,"Rebecca Laszlo, A","Jo Brown, A",NA,NA,NA
3,18.0,11,Margie,Shoop,W,False,adventure-works\margie0,margie0@adventure-works.com,F,818-555-0128,...,False,jo0@adventure-works.com,F,632-555-0129,Current,"Margie Shoop, W","Jo Brown, A",NA,NA,NA
4,18.0,11,Mark,McArthur,K,False,adventure-works\mark1,mark1@adventure-works.com,M,417-555-0154,...,False,jo0@adventure-works.com,F,632-555-0129,Current,"Mark McArthur, K","Jo Brown, A",NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,272.0,1,Tete,Mensa-Annan,A,False,adventure-works\tete0,tete0@adventure-works.com,M,615-555-0153,...,False,stephen0@adventure-works.com,M,238-555-0197,Current,"Tete Mensa-Annan, A","Stephen Jiang, Y",Northwest,United States,North America
291,290.0,10,Jae,Pak,B,False,adventure-works\jae0,jae0@adventure-works.com,F,1 (11) 500 555-0145,...,False,amy0@adventure-works.com,F,775-555-0164,Current,"Jae Pak, B","Amy Alberts, E",United Kingdom,United Kingdom,Europe
292,290.0,7,Ranjit,Varkey Chudukatil,R,False,adventure-works\ranjit0,ranjit0@adventure-works.com,M,1 (11) 500 555-0117,...,False,amy0@adventure-works.com,F,775-555-0164,Current,"Ranjit Varkey Chudukatil, R","Amy Alberts, E",France,France,Europe
293,290.0,8,Rachel,Valdez,B,False,adventure-works\rachel0,rachel0@adventure-works.com,F,1 (11) 500 555-0140,...,False,amy0@adventure-works.com,F,775-555-0164,Current,"Rachel Valdez, B","Amy Alberts, E",Germany,Germany,Europe
294,294.0,9,Lynn,Tsoflias,N,False,adventure-works\lynn0,lynn0@adventure-works.com,F,1 (11) 500 555-0190,...,False,syed0@adventure-works.com,M,926-555-0182,Current,"Lynn Tsoflias, N","Syed Abbas, E",Australia,Australia,Pacific